* {
    box-sizing:border-box;
}

body { 
    background: url(https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.container {
    margin-bottom: 50px;
}


#box {
    border: 10px solid #552B00;
    border-radius: 8px;
    background-color: lightgray;
}

#weather {
    height: 230px;
}